@import "tailwindcss";

@theme {
	--color-primary: #0051d5;
	--color-icon: #dfeafc;
	--color-background: #ffffff;
	--color-background-secondary: #f5f9ff;
}

@layer base {
	body {
		@apply bg-background text-black;
	}

	h1 {
		@apply text-6xl font-extrabold leading-tight tracking-tight;
	}

	h2 {
		@apply text-5xl font-bold leading-tight tracking-tight;
	}

	p {
		@apply text-base leading-relaxed;
	}
}